@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: #111111; /* Dark background to simulate the watch context outside */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-space-grotesk), sans-serif;
  overflow: hidden;
}

/* Base utility for hiding scrollbars but allowing scroll if ever needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
